
__pycache__/
_ReSharper.Caches/
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
dataSources.local.xml
.c9/
.classpath
.DS_Store
.venv/
.vs/
*.7z
*.beam
*.csproj-e
*.user
*.zip
*.pyc
*.sum
#*.mod
bin/
obj/
out/
packages/
publish/
shelf/
debug/
release/
cmake-build-debug/
cmake-build-release/
httpRequests/
node_modules/

.idea/
# .idea.*.iml
# dataSources/
*.backup